@import 'variables.css';

body {
  & p {
    color: var(--primary-color);
  }
}

body div {
  color: red;
}

.button {
  @mixin button-style #28a745 pink;
}

header {
  width: 100%;
  height: 10rem;
  background-image: url(../images/drupaleasy-logo.svg);
}
