<div {{ attributes.addClass('container') }}>
  <div class="left-column" style="width: {{ left_column_percentage_width }}%;">
    {{ left_content }}
  </div>

  <div class="right-column">
    {{ right_content }}
  </div>
</div>
